app = "esquire-frontend"

[build]
  dockerfile = "Dockerfile"
  [build.args]
    VITE_API_URL = "https://esquire-api.fly.dev"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]
