services:
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: esquire
    ports:
      - "5434:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  api:
    build: .
    environment:
      - DATABASE_URL=postgresql://postgres:password@db:5432/esquire?schema=public
    env_file:
      - .env
    ports:
      - "4000:4000"
    depends_on:
      - db

volumes:
  pgdata:
